# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/

# Data / Index
data/processed/*.index
data/processed/*.pkl
data/processed/*.jsonl

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# IDE
.idea/
.vscode/

